<!DOCTYPE html>
<html lang="en-US">
<head>
<title>Video Patterns</title>
<meta name='robots' content='noindex,nofollow' /> 

<!-- Latest compiled and minified CSS, bootstrap 3 -->
<link rel="stylesheet" href="/vi-lab/css/bootstrap.min.css">
<link rel="stylesheet" href="/vi-lab/css/bootstrap-switch.min.css" >


<!-- Optional theme -->
<link rel="stylesheet" href="/vi-lab/css/bootstrap-theme.min.css">

<style>

.spacer200 { height: 100px; width: 100%; font-size: 0; margin: 0; padding: 0; border: 0; display: block; }

.pattern-card {
height:120px; text-align:center; position:relative;
}
.pattern-card:hover{
	background-color:lightblue;
}
.pattern-card h5{
	font-weight:bold;
}
.card-image {
	max-height:70%;
	max-width: 86%;
	bottom:6%;
	left:6%;
	position:absolute;
}


.pattern-card .add-fav{
	display:none;
	position:absolute;
	right:0;
	bottom:0;
	padding:4px;
	background-color:gray;
	height:22px;
	width:22px;
	cursor:pointer;
}

.pattern-card:hover .add-fav{
	display:block;
}

.mark {
background-color:transparent;
}

.btn-primary.active{
background-image:none;
background-color:#999;
}

.footer{
display:inline-block;
height: 400px;
width:100%;
margin-top:50px;
padding:20px;
background-color:#333;
color:#eee;
}

</style>

<!-- Latest compiled and minified JavaScript -->

<script type='text/javascript' src='/vi-lab/js/jquery-1.11.2.min.js'></script>
<script src="/vi-lab/js/bootstrap.min.js"></script>
<script src="/vi-lab/js/bootstrap-switch.min.js"></script>
<script src="/vi-lab/js/markdown.js"></script>
<script src="/vi-lab/js/jquery-image-loader.js"></script>
<script src='/vi-lab/js/db.js'></script>




<!--

<link rel='stylesheet' id='jquery-ui-css' href='/vi-lab/css/ui-lightness/jquery-ui-1.7.2.custom.css' type='text/css' media='all' />
<link rel='stylesheet' id='vi-two_accordion-css' href='/vi-lab/css/jquery.hrzAccordion.defaults.css' type='text/css' media='all' />
<link rel='stylesheet' id='vi-lab_cust-css' href='/vi-lab/css/videolab.css' type='text/css' media='all' />
<link rel='stylesheet' id='vi-lab_cust-css' href='/vi-lab/css/theresienstadt.css' type='text/css' media='all' />
<link href="/vi-lab/css/introjs.css" rel="stylesheet">

<script type='text/javascript' src='/vi-lab/js/jquery-1.5.2.js'></script>
<script type='text/javascript' src='/vi-lab/js/jquery-ui-1.8.6.custom.min.js'></script>
<script type='text/javascript' src='/vi-lab/js/jquery.tinysort.min.js'></script>
<script type='text/javascript' src='/vi-lab/js/jquery.tooltip.js'></script>
<script type="text/javascript" src="/vi-lab/js/intro.js"></script>
<script type='text/javascript' src='js/markdown-js/src/markdown.js'></script>
<script type='text/javascript' src='js/jquery.colorbox-min.js'></script>

  -->
 
<!--
<script type='text/javascript' src='/vi-lab/js/markdown-/vi-lab/js/src/markdown.js'></script>
<script type='text/javascript' src='/vi-lab/js/jquery.colorbox-min.js'></script>
-->

<!-- 
<link rel='stylesheet' id='jquery-ui-css' href='/vi-lab/css/vi-basic-style.min.css' type='text/css' media='all' />
<script type='text/javascript' src='/vi-lab/js/vi-lab-basic.min.js'></script>
-->

<script type='text/javascript' src="/socket.io/socket.io.js"></script>
<script data-main="/vi-lab/js/requirejs-conf" src="/vi-lab/js/require.js"></script>

<script type='text/javascript' src='/vi-lab/js/jquery.tooltip.js'></script>

<script type="text/javascript"> 

$(document).ready (function () {  

	$('.mark').each(function(i, val){
		$(val).html(markdown.toHTML($(val).text()))
	});
	


}); 


	// indexdb via db.js
	var server = 0;
	db.open( {
		  server: 'video-patterns',
		  version: 1,
		  schema: {
		      pattern: {
		          key: { keyPath: 'id' , autoIncrement: true },
		          // Optionally add indexes
		          indexes: {
		              name: { },
		              answer: { unique: true }
		          }
		      }
		  }
	} ).then( function ( s ) {
		  server = s;    
	} );


/*
Add pattern to index db
**/
function addToFav(pattern){
	server.pattern.add( {  name: pattern } ).then( function ( item ) {  
		  alert('added '+ JSON.stringify(server.pattern)); 
	} );
}

/*
Remove pattern from index db
**/
function removeFav(key){
	server.pattern.remove( 1 ).done( function ( key ) {
      alert('removed '+key)
  } );
}



/*
Fetch all patterns from index db
status: buggy xxx
**/
function fetchAll(){
	server.pattern.query()
      .execute()
      .done( function ( results ) {
          alert(11);
      } );
}




/*
The following lines need to be changed regarding the underlaying server
**/ 

var server = '';




/*
function startIntro(){
        var intro = introJs();
          intro.setOptions({
            steps: [
              {intro: "Herzlich willkommen zur Tour"},
              {
                element: document.querySelector('h1')[0],
                intro: "Willkommen bei der E-Tutoren Qualifizierung!"
              },
              {
                element: document.querySelectorAll('.user-menu')[0],
                intro: "Dies hier ist Ihr Icon. Durch einen Klick können Sie ihr Profil einsehen oder sich ausloggen.",
                position: 'left'
              },
              {
                element: document.querySelectorAll('.scene-view')[0],
                intro: "Hier gehts zum ersten Video der E-Tutoren Qualifizierung",
                position: 'top'
              }
            ]
          }).setOption('doneLabel', 'Nächste Seite').oncomplete(function() {
          	window.location.href = '/videos/view/52a13d2e2aa9d35f24000074';
        	});

          intro.start();
      } 
      	//introJs().setOption('doneLabel', 'Next page').start().oncomplete(function() {
          //window.location.href = 'second.html?multipage=true';
        //});
   //};
*/
</script> 	
</head>

<body class="">
<header>
	<div class="container">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
				  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" href="/">Designing Video Interfaces</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				  <ul class="nav navbar-nav">
				     <li>
				    <a href="/patterns/list">Patterns<span class="sr-only">(current)</span></a>
				    </li>
				    <li>
				    <a href="/portals">Applications<span class="sr-only">(current)</span></a>
				    </li>
				    
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Get involved<span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
								
				        <li class="divider"></li>
				        <li><a href="/proto-patterns/list">Pattern Proposals</a></li>
				        <li class="divider"></li>
				        <li><a href="/vi-two">Apply Patterns</a></li>
				       <li><a href="/api">Data API</a></li>
				      </ul>
				    </li>
				  </ul>
				  <!--<form class="navbar-form navbar-left" role="search">
				    <div class="form-group">
				      <input type="text" class="form-control" placeholder="Search">
				    </div>
				    <button type="submit" class="btn btn-default">Submit</button>
				  </form>-->
				  <ul class="nav navbar-nav navbar-right">
				  	<li><a href="/citation">Citation</a></li>
				    <li><a href="/about">About</a></li>
				    <li class="group-area"></li>
						<li class="user-area"></li>
				    <!--<li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
				        <li><a href="#">Action</a></li>
				        <li><a href="#">Another action</a></li>
				        <li><a href="#">Something else here</a></li>
				        <li class="divider"></li>
				        <li><a href="#">Separated link</a></li>
				      </ul>
				    </li>-->
				  </ul>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
	</div>
</header>

<content>
<%- body %>
</content>
<footer>
<% include footer %>
</footer>
	
</body>
</html>
