<% layout( 'layout' ) -%>

<div class="jumbotron"></div>
<div class="container">
	<div class="row">
<div class="col-md-8 mark">

*Designing Video Interfaces: Patterns for Video-based Learning Environments* is a website about interface and interaction design, structured as a pattern language and application database. It features real-live examples from over 120 video learning environments - from desktop applications, web applications, mobile devices, and everything in between. 

---

#### Purpose and how to use

*Designing Video Interfaces* aims to guide designers and software developers on how to design usable video player and engaging video learning environments. 

* **Design** Consider your individual requirements for a video learning environment and [select the patterns](/patterns/list) that appear useful to you. Read them and explore the related patterns for possible integration. With a list of patterns you start to mix and recombine them into sketches. Let you inspire by the examples and take a look at the collection of [related learning environments](/portals).

* **Learn** You can learn design concepts for audiovisual media, time-based navigation, content annotations, and how several learning theories relate to video-based learning. More then that, you will find out why the design of a video learning environment is as important as the video content and the  instructional design.

* **Compare** Use the comprehensive collection of [video learning environments](/portals) to compare products or realization of certain features ([patterns](/patterns/list)) with each other. You could also analyze the evolution of video based learning environments over last decades. Finally, you can [grab the data](/api) and do what ever you want with it.

* **Evaluate** You can use the [pattern](/patterns/list) to evaluate existing video environments in order to improve the design or to identify missing features. 

---

#### Scope

* **Video-based Learning**, rathern then learning or e-learning in general.

* **Video-based Learning Environments**, rather then generic digital learning environments.

* **Interactive Video / Hypervideo**, rather then basic video players for more passive perception.

---


#### Target Audience
Each pattern contains a long list of examples and practical design advice that you can use immediately in your design and code. Experienced designers can use the patterns to explore the design space; novices will find a roadmap to the world of interactive video and video-based learning. *Designing Video Interfaces* is dedicated to four stakeholder groups that can be involved in the design and development of video-based learning environments: 

* **Interface Designer** get sensitize about time-based media, cognitive demands, and the particularities of a time-related navigation. They should be enabled to sketch and design video learning environments and can be inspired by the many application examples.

* **Software Developers** might become encouraged to overcome non-interactive web videos by enabling time-dependent content and time-related interactions. The patterns provide valuable information on how to implement UI components considering usability aspects and technical constraints.

* **Content Management Providers** benefit from the large collection of video applications and user stories that reley on UI features that are unique for video. Web video can emerge from the rectangled playback box to a social video experience with extensible contents. 

* **Teachers & Instructors** gain awareness for possible pitfalls when creating content for video-based learning. They are also enabled to evaluate or draft learning environments regarding their own requirements for online learning processes. The presented pattern language can be used to assess and compare certain design features of commercial or free learning environments. 

---

#### Get involved
Design and technology in the field of video-based learning is constantly changing. Thats why the patterns presented on this site are not considered to be complete or finalized. Although we are looking forward to keep the patterns up to date, we hardly keep an eye on everything that emerges out there in the web. For this reason any feedback or contribution is welcome. For instance one could 

* inform us about a novel video application oder video learning environment
* tell us about the most recent publications in the domain
* comment on pattern by making suggestions or contributing examples
* suggest new pattern that you have observed either in your own practice or in the work of someone else
* let other people know about *Designing Video Interfaces*


</div>
	</div>	
</div>	
    
    




	

