<% layout( 'layout' ) -%>

<div class="jumbotron"></div>
<div class="container">
	<div class="row">
<div class="col-md-8 mark">ss
Designing 

**Purposes**

* 

**Target Audience**

This pattern language is dedicated to four stakeholder groups that can be involved in the development of video-based learning environments. First of all the patterns are proposed to sensitize interface designers about time-based media, aspects of temporal events, and the particularities of a time-related navigation. 

Closely related to that stakeholder group are developers and content management providers that might become encouraged to overcome non-interactive web videos by enabling time-dependent content and time-related interactions. However, code examples or hints on how to implement certain solutions have been abandoned in favour of more timeless interface designs that neither depend on specific frameworks, nor on web specifications or browser implementations. 

Finally the patterns can be used by instructors to evaluate or draft learning environments regarding their own requirements for online learning processes. The presented pattern language can be used to assess and compare certain design features of commercial or free learning environments. Cross references between single patterns highlight dependencies and concurring design solutions. Thus, instructors gain awareness of the design space in order to support and aid learning with respect to their purposed didactical tasks. 
Besides that, instructors are also considered as learning content designers, that make use of extensive tools to enrich video files for their audience of learners. 

</div>
	</div>	
</div>	
    
    




	

