<!DOCTYPE html>
<html lang="en-US">

<head>
	<title>Designing Video Interfaces</title>
	<meta name='robots' content='noindex,nofollow' />
	<link rel="manifest" href="/manifest.json">
	<% production=1 %>
		<% if (production) { %>
			<link rel="stylesheet" href="/static/css/video-patterns-style.min.css">
			<script src="/static/js/video-patterns.min.js"></script>
			<% }else{ %>
				<link rel="stylesheet" href="/static/css/bootstrap.min.css">
				<link href="/static/css/bootstrap-switch.min.css" rel="stylesheet">
				<link rel="stylesheet" href="/static/css/colorbox.css">
				<link rel="stylesheet" href="/static/css/video-patterns.css">
				<link rel="stylesheet" type="text/css" href="/static/css/bootstrap-table-filter-control.css">

				<script src='/static/js/jquery-1.11.2.min.js' type='text/javascript'></script>
				<script src="/static/js/bootstrap.min.js"></script>
				<script src="/static/js/bootstrap-switch.min.js"></script>
				<script src="/static/js/showdown.min.js"></script>
				<script src="/static/js/jquery.colorbox-min.js"></script>
				<script src="/static/js/jquery-image-loader.js"></script>
				<script src="/static/js/bootstrap-table-all.min.js"></script>
				<script src="/static/js/bootstrap-table-export.min.js"></script>
				<script src="/static/js/markdown.min.js"></script>

				<script src="/static/js/FileSaver.min.js" type="text/javascript"></script>
				<script src="/static/js/tableExport.js"></script>
				<script src="/static/js/jquery.base64.js"></script>
				<script src="/static/js/jspdf.js"></script>
				<script src='/static/js/i18next-latest.js'></script>
				<script src='/static/js/moment.min.js'></script>


				<% } %>
					<!--xxx <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto|Droid+Sans:400,700' rel='stylesheet' type='text/css'>-->
					<link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700|Roboto|Droid+Sans:400,700' rel='stylesheet' type='text/css'>
					<script src="/static/js/require.js" data-main="/static/js/requirejs-conf"></script>

					<script type="text/javascript">
						$(document).ready(function () {
							/*$(".nav a").on("click", function () {
								$(".nav").find(".active").removeClass("active");
								$(this).parent().addClass("active");
							});
							*/

							var converter = new showdown.Converter();
							converter.setOption('tables', 'true');
							$('.mark').each(function (i, val) {
								//$(val).html(markdown.toHTML($(val).text()))
								$(val).html(converter.makeHtml($(val).text()));
							});
							$('#searchField').keydown(function (e) {
								if (e.keyCode == 13) {
									submitSearch();
								}
							});
							$('#searchBtn').click(function () {
								submitSearch();
							});

							function submitSearch() {
								var text = $('#searchField').val();
								$.get('/search/' + text, function (data, status) {
									$("#searchModal").modal(
										{
											position: "absolute",
											top: '80px',
											right: 0,
											bottom: 0,
											left: 0,
											width: "300px",
											"z-index": 10040,
											overflow: "auto",
											"overflow-y": "auto",
											show: true,
											keyboard: true
										}
									);
									$('#searchModal').find('.modal-body').html(data);
								}, 'html');
							};
						});


						// local storage
						var the_playlist = '', pp = [];

						function isInPlaylist(key) {
							return the_playlist.split(',').indexOf(key) === -1 ? 0 : 1;

						}

						function toggleFav(key) {
							var selector = '#playlist_' + key.replace(/ /g, '_');
							if (isInPlaylist(key)) {
								removeFav(key);
								$(selector).removeClass('glyphicon-minus').addClass('glyphicon-plus');
							} else {
								addToFav(key);
								$(selector).removeClass('glyphicon-plus').addClass('glyphicon-minus');
							}
						}

						function initFav() {
							if (typeof (Storage) !== "undefined" || localStorage.getItem("pattern-playlist") !== null) {
								var playlist = localStorage.getItem("pattern-playlist") === null ? [] : localStorage.getItem("pattern-playlist").split(',');
								for (var i = 0, len = playlist.length; i < len; i++) {
									key = playlist[i];
									var selector = '#playlist_' + key.replace(/ /g, '_');

									if (key !== '' && key !== undefined && key !== null) {
										var sel2 = '#' + key.replace(/ /g, '-').toLowerCase() + ' .pattern-card';
										if (isInPlaylist(key) === 1) {
											$(selector).removeClass('glyphicon-minus').addClass('glyphicon-plus');
											$(sel2).removeClass('highlight-favorites');
										} else {
											$(selector).removeClass('glyphicon-plus').addClass('glyphicon-minus');
											$(sel2).addClass('highlight-favorites');
										}
									}
								}
							}
						}

						function filterFav() {
							$('.pattern-card').each(function (i, val) {
								if (!$(this).hasClass('highlight-favorites')) {
									$(this).parent().hide();
								}
							});
						}

						//localStorage.setItem("pattern-playlist", '');
						function addToFav(key) {
							if (typeof (Storage) !== "undefined" && key !== '') {
								var playlist = localStorage.getItem("pattern-playlist") === null || undefined ? '' : localStorage.getItem("pattern-playlist");
								playlist = playlist + ',' + key;
								localStorage.setItem("pattern-playlist", playlist); //alert(localStorage.getItem("pattern-playlist"));
								the_playlist = playlist;
								var sel2 = '#' + key.replace(/ /g, '-').toLowerCase() + ' > .pattern-card';
								$(sel2).addClass('highlight-favorites');
							}
						}

						function removeFav(key) {
							if (typeof (Storage) !== "undefined" && key !== '') {
								var playlist = localStorage.getItem("pattern-playlist").replace(key + ',', '');
								localStorage.setItem("pattern-playlist", playlist); //alert(localStorage.getItem("pattern-playlist"));
								the_playlist = playlist;
								var sel2 = '#' + key.replace(/ /g, '-').toLowerCase() + ' > .pattern-card';
								$(sel2).removeClass('highlight-favorites');
							}
						}

					</script>

</head>

<body>
	<div id="searchModal" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">Search results</h4>
				</div>
				<div class="modal-body">
					<p>One fine body&hellip;</p>
				</div>
				<div class="modal-footer">

				</div>
			</div>
			<!-- /.modal-content -->
		</div>
	</div>
	<header>

		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">Designing Video Interfaces
						<small></small>
					</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav">
						<li>
							<a href="/patterns/list">Interaction Design Patterns</a>
						</li>
						<li>
							<a href="/portals">Learning Environments</a>
						</li>
						<!--<li><a href="/framework">Hypervideo.js<span class="sr-only"></span></a></li>-->

						<!--
				    <li class="dropdown">
				      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Get involved<span class="caret"></span></a>
				      <ul class="dropdown-menu" role="menu">
								
				        <li class="divider"></li>
				        <li><a href="/proto-patterns/list">Pattern Proposals</a></li>
				        <li class="divider"></li>
				        <li><a href="/vi-two">Apply Patterns</a></li>
				       
				      </ul>
				    </li>-->
					</ul>
					<!--<form class="navbar-form navbar-left" role="search">
				    <div class="form-group">
				      <input type="text" class="form-control" placeholder="Search">
				    </div>
				    <button type="submit" class="btn btn-default">Submit</button>
				  </form>-->
					<ul class="nav navbar-nav navbar-right">
						<!--<li><a href="/getinvolved">Get Involved<span class="sr-only"></span></a></li>-->
						<li>
							<div id="custom-search-input">
								<div class="input-group col-md-12">
									<input id="searchField" type="text" class="form-control input-lg" placeholder="search" />
									<span class="input-group-btn">
										<button id="searchBtn" class="btn btn-info btn-lg" type="button">
											<span class="glyphicon glyphicon-search"></span>
										</button>
									</span>

								</div>
							</div>
						</li>
					</ul>
				</div>
				<!-- /.navbar-collapse -->
			</div>
			<!-- /.container-fluid -->
		</nav>

	</header>

	<content>
		<%- body %>
	</content>
	<footer>
		<% include footer %>
	</footer>

</body>

</html>